useDynLib(treeperm)
S3method(print,treeperm)
S3method(summary,treeperm)
S3method(print,summary.treeperm)
S3method(treeperm,default)
S3method(treeperm,formula)
S3method(plot,treeperm)
S3method(print,Permutation)
S3method(print,KPermutation)
export(treeperm)
export(print.treeperm)
export(summary.treeperm)
export(print.summary.treeperm)
export(treeperm.default)
export(treeperm.formula)
export(Permutation)
export(KPermutation)
export(print.KPermutation)
export(print.Permutation)
export(plot.treeperm)
